@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-purple: #913f8d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary-purple: var(--primary-purple);
}

@media (prefers-color-scheme: dark) {
  :root { 
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary-purple: #a650a2;
  }
}


